/*body { 
	background: #e6ecec url('../img/white_top_grad.png') repeat-x top;
	font-family: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif; 
	margin: 0 auto;
}

a.button {
	cursor: pointer;
	display: block;
	width: 100%;
}

a.create-button-wrapper {
	background: url('../img/bluebutton.png') no-repeat left top;
	bottom: 0px;
	height: 36px;
	position: absolute;
}

a.create-button-wrapper:hover {
	background: url('../img/bluebutton.png') no-repeat left -36px;
}

.create-button {
	background: url('../img/bluebutton.png') no-repeat right -72px;
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: inherit;
	text-align: center;
}

.create-button:hover {
	background: url('../img/bluebutton.png') no-repeat right -108px;
}

.create-button span {
	position: relative;
	top: 12px;
}

#header {
	background: transparent;
	margin: 0;
	position: fixed;
	width: 50%;
}

#results-wrapper {
	left: 0;
	height: 60%;
	margin: 0;
	overflow-y: scroll;
	position: fixed;
	top: 250px;
	width: 50%;
}

.result {
	background: url('../img/resultbg.png') no-repeat left top;
	height: 135px;
	margin: 0 auto;
	margin-bottom: 10px;
	max-width: 695px;
	min-width: 595px;
	position: relative;
}

.result-address {
	font-size: 14px;
}

.result-buttons {
	float: right;
	height: 115px;
	position: relative;
	right: 10px;
	top: 10px;
	width: 144px;
}

.result-content {
	color: #333;
	background: transparent url('../img/resultbg.png') no-repeat right bottom;
	height: 135px;
	margin: 0 auto;
	max-width: inherit;
	min-width: inherit;
}

.result-cuisines {
	font-size: 12px;
}

.result-divider {
	background-color: #eee;
	border: 0;
	color: #eee;
	height: 1px;
}

.result-food-items {
	font-size: 12px;
}

.result-photo {
	float: left;
	height: 133px;
	left: 1px;
	position: relative;
	top: 1px;
	width: 135px;
}

.result-text {
	float: left;
	height: 115px;
	left: 10px;
	line-height: 1.2em;
	margin: 0 auto;
	max-width: 375px;
	min-width: 275px;
	position: relative;
	top: 10px;
}

.result-title {
	font-weight: bold;
}

#search-box {
	background: transparent;
	border: 0;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 18px;
	height: 30px;
	left: 5px;
	outline: none;
	position: relative;
	top: 5px;
	width: 535px;
	z-index: 1000;
}

#search-box-container {
	background: #171717;
	border: 1px solid #000;
	height: 40px;
	margin: 0 auto;
	position: relative;
	top: 20px;
	width: 580px;
}

#search-container {
	background: url('../img/searchbox.png') no-repeat left top;
	height: 107px;
	margin: 0 auto;
	position: relative;
	width: 623px;
}

.search-logo {
	background: orange;
	display: inline-block;
	float: right;
	height: 30px;
	right: 5px;
	position: relative;
	top: 5px;
	width: 30px;
}

#search-wrapper {
	position: fixed;
	top: 100px;
	width: 50%;
}

#small-logo {
	background: url('../img/hungr_small_logo.png') no-repeat 40px 40px;
	height: 109px;
	width: 154px;
}

.clear {
	clear: both;
}

/**
 * Delivery pane
 */

#delivery-wrapper {
	background: #253237 url('../img/side_panel_grad.png') repeat-y left;
	height: 100%;
	margin: 0;
	overflow-y: auto;
	position: fixed;
	right: 0;
	width: 50%;
}
#delivery {
	margin: 40px;
	background: white;
	padding: 20px;
}
