<!-- Delivery template -->
<script id="delivery-html" type="text/template">
  <a class="share-button" id=<%= id %>>Share</a>
  <div id="restaurant-info">
    <h2 id="restaurant-name"><%= restaurantName %> <span id="restaurant-phone"><%= formatTelephone(restaurantPhone) %></span></h2>
    <address>
      <%= restaurantAddress.street %><br />
      <%= restaurantAddress.city %>, <%= restaurantAddress.state %>
    </address>
  </div>
  <% if (me === delivery.get('member')) { %>
    <form id="delivery-info" class="actionable">
      <h3>Where and when is it going?</h3>
      <div class="inner">
        <div class="field delivery-time-field">
          <span class="icon">t</span>
          <input type="text" name="delivery-time" id="delivery-time" value="<%= orderTime %>" placeholder="Order time" />
          <span class="description">When the order is going out</span>
        </div>
        <div class="field delivery-location-field">
          <span class="icon">l</span>
          <input data-icon="l" type="text" name="delivery-location" id="delivery-location" value="<%= deliveryLocation %>" placeholder="Delivery location" />
          <span class="description">Where the order is being delivered</span>
        </div>
        <div class="clearer"></div>
      </div>
    </form>
  <% } else { %>
    <form id="delivery-info">
      <div class="field delivery-time-field">
        <span class="icon">t</span>
        <input type="text" disabled="disabled" name="delivery-time" id="delivery-time" value="<%= orderTime %>" placeholder="Order time" />
        <span class="description">When the order is going out</span>
      </div>
      <div class="field delivery-location-field">
        <span class="icon">l</span>
        <input data-icon="l" disabled="disabled" type="text" name="delivery-location" id="delivery-location" value="<%= deliveryLocation %>" placeholder="Delivery location" />
        <span class="description">Where the order is being delivered</span>
      </div>
      <div class="clearer"></div>
    </form>
  <% } %>

  <div id="my-order" class="actionable" data-order-id="<%= myOrder.id %>">
    <h3>What’ll you have?</h3>
    <div class="inner">
      <ul class="food-items">
        <% for (var j = 0; j < myOrder.get('food_items').length; j++) { %>
          <% foodItem = myOrder.get('food_items').at(j) %>
          <li class="food-item" data-food-item-id="<%= foodItem.get('food_item').id %>">
            <a href="#" class="delete-food-item">X</a>
            <div class="field name-field">
              <span class="icon">f</span>
              <input type="text" value="<%= foodItem.get('food_item').get('name') %>" class="food-item-name" placeholder="Dish name" />
            </div>
            <div class="field quantity-field">
              <span class="icon">q</span>
              <input type="text" value="<%= foodItem.get('quantity') %>" class="food-item-quantity" placeholder="Qty." />
            </div>
            <div class="field price-field">
              <span class="icon">p</span>
              <input type="text" disabled="disabled" class="food-item-price" value="<%= formatPrice(foodItem.get('food_item').get('price')) %>" />
            </div>
            <div class="clearer"></div>
          </li>
        <% } %>
        <li class="food-item template">
          <a href="#" class="delete-food-item">X</a>
          <div class="field name-field">
            <span class="icon">f</span><input type="text" class="food-item-name" placeholder="Dish name" />
          </div>
          <div class="field quantity-field">
            <span class="icon">q</span><input type="text" class="food-item-quantity" placeholder="Qty." />
          </div>
          <div class="field price-field">
            <span class="icon">p</span><input type="text" disabled="disabled" class="food-item-price" value="&mdash;"/>
          </div>
          <div class="clearer"></div>
        </li>
      </ul>
      <a href="#" id="add-food-item">Add food item</a>
    </div>
  </div>

  <% if (me === delivery.get('member')) { %>
    <form id="payment-info" class="actionable">
    <h3>Ready to go?</h3>
      <div class="inner">
        <div class="field cc-number-field">
          <span class="icon">a</span><input type="text" id="cc-number" placeholder="Credit card number" />
        </div>
        <div class="field cc-cvv-field">
          <span class="icon">v</span><input type="text" id="cc-cvv" placeholder="CVV" />
        </div>
        <div class="field cc-expiration-field">
          <span class="icon">x</span><input type="text" id="cc-expiration" placeholder="Exp. (MM/YYYY)" />
        </div>
        <div class="clearer"></div>
        <a id="submit">Submit this order!</a>
      </div>
    </form>
  <% } else { %>
    <div class="actionable">
      <h3>Getting hungry?</h3>
      <div class="inner">
        <p>
          This order’s creator, <%= delivery.get('member').get('name') %>, will submit the order by <%= orderTime %>.
        </p>
      </div>
    </div>
  <% } %>

  <div class="actionable" id="orders-wrapper">
    <h3>Here’s what everyone else is having:</h3>
    <div class="inner">
      <% if (orders.length > 1) { %>
        <table id="orders" cellspacing="0">
          <% for (var i = 0; i < orders.length; i++) { %>
            <% if (me !== orders.at(i).get('member')) { %>
              <tr class="name">
                <td colspan="3"><%= orders.at(i).get('member').get('name') %></td>
              </tr>
              <% for (var j = 0; j < orders.at(i).get('food_items').length; j++) { %>
                <% foodItem = orders.at(i).get('food_items').at(j) %>
                <tr class="food-item">
                  <td>
                    <span class="icon">f</span>
                    <span id="food-item-<%= i %>-name"><%= foodItem.get('food_item').get('name') %></span>
                  </td>
                  <td>
                    <span class="icon">q</span>
                    <span id="food-item-<%= i %>-quantity"><%= foodItem.get('quantity') %></span>
                  </td>
                  <td>
                    <span class="icon">p</span>
                    <span id="food-item-<%= i %>-price"><%= formatPrice(foodItem.get('food_item').get('price')) %></span>
                  </td>
                </tr>
              <% } %>
            <% } %>
          <% } %>
        </table>
      <% } else { %>
        <p>No one has joined in yet!</p>
      <% } %>
    </div>
  </div>
</script>

<!-- Placeholder for the "Tips" screen -->
<script id="delivery-initial-html" type="text/template">
  [Tips]
</script>

<!-- Placeholder for the "Loading" screen -->
<script id="delivery-loading-html" type="text/template">
  [Loading]
</script>
