<html>
<head>
	<link rel="stylesheet" href="./static/css/style.css" type="text/css">
	<link rel="stylesheet" href="./static/css/ui.css" type="text/css">
	<link href="//get.pictos.cc/fonts/718/5" rel="stylesheet" type="text/css">

	<!-- Load libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="./static/js/lib/jquery-ui.js" type="text/javascript"></script>
	<script src="./static/js/lib/underscore-min.js" type="text/javascript"></script>
	<script src="./static/js/lib/backbone.js" type="text/javascript"></script>
	<script src="./static/js/lib/backbone-relational.js" type="text/javascript"></script>

	<script type="text/javascript" src="http://use.typekit.com/nlp4pgk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- Load templates for Javascript views -->
	{% include 'delivery-js.html' %}
	{% include 'search-js.html' %}

	<script src="./static/js/helpers/helpers.js" type="text/javascript"></script>
	<script src="./static/js/models/models.js" type="text/javascript"></script>
	<script src="./static/js/views/delivery.js" type="text/javascript"></script>
	<script src="./static/js/views/result.js" type="text/javascript"></script>
	<script src="./static/js/views/search.js" type="text/javascript"></script>
	<script src="./static/js/main.js" type="text/javascript"></script>

	<title>hungr</title>
</head>

<body>
	<div id="search-pane">
		<div id="header">
			<h1>hungr</h1>
		</div>
		<div id="search-wrapper"></div>
		<div id="results-wrapper"></div>
	</div>
	<div id="delivery-pane">
		<div id="delivery"></div>
	</div>
</body>
</html>
