<html>
<head>
	<link rel="stylesheet" href="./static/css/style.css" type="text/css">
	<link rel="stylesheet" href="./static/css/ui.css" type="text/css">
	<link href="//get.pictos.cc/fonts/718/5" rel="stylesheet" type="text/css">

	<!-- Load libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="./static/js/jquery-ui.js" type="text/javascript"></script>
	<script src="./static/js/underscore-min.js" type="text/javascript"></script>
	<script src="./static/js/backbone.js" type="text/javascript"></script>
	<script src="./static/js/backbone-relational.js" type="text/javascript"></script>

	<script type="text/javascript" src="http://use.typekit.com/nlp4pgk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- Load templates for Javascript views -->
	<script id="search-html" type="text/template">
		<input id="search-box" type="text" placeholder="Enter restaurants, cuisines, foods, etc."/>	
	</script>

	<script id="result-html" type="text/template">
		<div class="result-buttons">
			<% _.each(result_deliveries, function(delivery){ %>
				<a class="join-delivery-button button" id=<%= delivery[0] %> >
					<%= delivery[1] %>
				</a>
			<% }); %>
			<a class="create-button button">+</a>
		</div>
		<div class="result-text">
			<div class="result-name"><%= result_name %></div>
			<div class="result-address"><%= result_address_city %></div>
			<div class="result-cuisines"><%= result_cuisines %><% if (result_food_items !== '') { %>: <% } %><%= result_food_items %></div>
		</div>
	</script>

	<script id="delivery-html" type="text/template">
		<a class="share-button button" id=<%= id %>>Share</a>
		<div id="restaurant-info">
			<span id="restaurant-phone"><%= formatTelephone(restaurantPhone) %></span>
			<h2 id="restaurant-name"><%= restaurantName %></h2>
			<address>
				<%= restaurantAddress.street %><br />
				<%= restaurantAddress.city %>, <%= restaurantAddress.state %>
			</address>
		</div>
		<% if (me === delivery.get('member')) { %>
			<form id="delivery-info">
				<span class="icon">t</span><input type="text" name="delivery-time" id="delivery-time" value="<%= orderTime %>" placeholder="Order time" />
				<span class="icon">l</span><input data-icon="l" type="text" name="delivery-location" id="delivery-location" value="<%= deliveryLocation %>" placeholder="Delivery location" />
			</form>
		<% } else { %>
			<div id="delivery-info">
				<span class="icon">t</span><span id="delivery-time"><%= orderTime %></span>
				<span class="icon">l</span><span id="delivery-location"><%= deliveryLocation %></span>
			</div>
		<% } %>
		
		<ul id="orders">
			<% for (var i = 0; i < orders.length; i++) { %>
				<% if (me !== orders.at(i).get('member')) { %>
					<li class="order">
						<h3><%= orders.at(i).get('member').get('name') %></h3>
						<ul class="food-items">
							<% for (var j = 0; j < orders.at(i).get('food_items').length; j++) { %>
								<% foodItem = orders.at(i).get('food_items').at(j) %>
								<li class="food-item">
									<span class="icon">q</span><span id="food-item-<%= i %>-quantity"><%= foodItem.get('quantity') %></span>
									<span class="icon">f</span><span id="food-item-<%= i %>-name"><%= foodItem.get('food_item').get('name') %></span>
									<span class="icon">p</span><span id="food-item-<%= i %>-price"><%= formatPrice(foodItem.get('food_item').get('price')) %></span>
								</li>
							<% } %>
						</ul>
					</li>
				<% } %>
			<% } %>
		</ul>

		<div id="my-order" data-order-id="<%= myOrder.id %>">
			<h3>My order</h3>
			<ul class="food-items">
				<% for (var j = 0; j < myOrder.get('food_items').length; j++) { %>
					<% foodItem = myOrder.get('food_items').at(j) %>
					<li class="food-item" data-food-item-id="<%= foodItem.get('food_item').id %>">
						<span class="icon">q</span><input type="text" value="<%= foodItem.get('quantity') %>" class="food-item-quantity" placeholder="Qty." />
						<span class="icon">f</span><input type="text" value="<%= foodItem.get('food_item').get('name') %>" class="food-item-name" placeholder="Dish name" />
						<span class="icon">p</span><span class="food-item-price"><%= formatPrice(foodItem.get('food_item').get('price')) %></span>
					</li>
				<% } %>
				<li class="food-item template">
					<span class="icon">q</span><input type="text" class="food-item-quantity" placeholder="Qty." />
					<span class="icon">f</span><input type="text" class="food-item-name" placeholder="Dish name" />
					<span class="icon">p</span><span class="food-item-price">-</span>
				</li>
			</ul>
			<a href="#" id="add-food-item">Add food item</a>
		</div>

		<% if (me === delivery.get('member')) { %>
			<form id="payment-info">
				<span class="icon">t</span><input type="text" id="cc-number" placeholder="Credit card number" />
				<span class="icon">l</span><input type="text" id="cc-cvv" placeholder="CVV" />
				<span class="icon">l</span><input type="text" id="cc-expiration" placeholder="Exp. (MM/YYYY)" />
				<input type="submit" class="button" value="Submit this order!" />
			</form>
		<% } else { %>
			<div id="final-info">
				This order’s creator, <%= delivery.get('member').get('name') %>, will submit the order by <%= orderTime %>.
			</div>
		<% } %>
	</script>
	<script id="delivery-initial-html" type="text/template">
		[Tips]
	</script>
	<script id="delivery-loading-html" type="text/template">
		[Loading]
	</script>

	<script src="./static/js/deliveries.js" type="text/javascript"></script>
	<script src="./static/js/search.js" type="text/javascript"></script>
	<script src="./static/js/main.js" type="text/javascript"></script>

	<title>hungr</title>
</head>

<body>
	<div id="search-pane">
		<div id="header">
			<h1>hungr</h1>
		</div>
		<div id="search-wrapper"></div>
		<div id="results-wrapper"></div>
	</div>
	<div id="delivery-pane">
		<div id="delivery"></div>
	</div>
</body>
</html>
